USE [master]
GO
/****** Object:  Database [DSSINHVIEN]    Script Date: 22/12/2023 22:15:53 ******/
CREATE DATABASE [DSSINHVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSSINHVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DSSINHVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DSSINHVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DSSINHVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSSINHVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSSINHVIEN]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 22/12/2023 22:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[MAIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [SDT], [MAIL]) VALUES (N'N21DCAT035', N'Võ Văn Ngọc', N'0945437279', N'N21DCAT035@student.ptithcm.edu.vn')
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [SDT], [MAIL]) VALUES (N'N21DCAT036', N'Võ Văn Ngọc', N'0945437279', N'N21DCAT035@student.ptithcm.edu.vn')
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [SDT], [MAIL]) VALUES (N'N21DCAT037', N'Võ Văn Ngọc', N'0945437279', N'N21DCAT035@student.ptithcm.edu.vn')
GO
USE [master]
GO
